<a href="https://colab.research.google.com/github/filipecarbonera/Titanic/blob/main/titanic_testes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tratamento dos dados:

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/filipecarbonera/titanic/main/dados/train.csv', )
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
data.Sex.replace('male',0,inplace=True)
data.Sex.replace('female',1,inplace=True)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data['ClassCabin'] = data['Cabin'].str[:1]

# data.groupby(['ClassCabin'], as_index=False).mean()[['ClassCabin','Survived']].sort_values(by='Survived',ascending=False)

data.ClassCabin.replace('T',0,inplace=True)
data.ClassCabin.replace('A',1,inplace=True)
data.ClassCabin.replace('G',2,inplace=True)
data.ClassCabin.replace('C',3,inplace=True)
data.ClassCabin.replace('F',4,inplace=True)
data.ClassCabin.replace('B',5,inplace=True)
data.ClassCabin.replace('E',6,inplace=True)
data.ClassCabin.replace('D',7,inplace=True)

data['ClassCabin'].value_counts()

3.0    59
5.0    47
7.0    33
6.0    32
1.0    15
4.0    13
2.0     4
0.0     1
Name: ClassCabin, dtype: int64

In [5]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ClassCabin
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,3.0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,3.0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,NaN

In [ ]:
# sobrenomes = []
# for i,a in data['Name'].str.split(','):
#   sobrenomes.append(i)
# family = pd.Series(sobrenomes)
# data['Family'] = family
# data.head()

In [6]:
data = data
data_null = data.dropna()

X = data[['Pclass','Sex','Age','SibSp','Parch','Fare']]
y = data['Survived']

Xnull = data_null[['Pclass','Sex','Age','SibSp','Parch','Fare']]
ynull = data_null['Survived']

# Rodando modelos:

In [7]:
# Imports
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

# Seed
np.random.seed(0)

In [8]:
# Train Test Split
x_train, x_test, y_train, y_test = train_test_split(Xnull, ynull, stratify=ynull)

In [9]:
from sklearn.dummy import DummyClassifier

dummy = DummyClassifier(strategy="most_frequent")
dummy.fit(x_train, y_train)
pred_dummy = dummy.predict(x_test)
dummy_acc = accuracy_score(y_test, pred_dummy)
dummy_acc

0.6739130434782609

In [10]:
# Importar o modelo
from sklearn.linear_model import LogisticRegression

# Train Test Split
# x_train, x_test, y_train, y_test = train_test_split(Xnull, ynull, stratify=ynull)

# Instanciando o modelo
modelo = LogisticRegression(max_iter=10000)

# Fit no modelo
modelo.fit(x_train, y_train)

# Predição
y_prediction = modelo.predict(x_test)

# Medindo a acurácia
accuracy_score(y_test, y_prediction)

0.7391304347826086

In [11]:
# Importar o modelo
from sklearn.neighbors import KNeighborsClassifier

# Train Test Split
# x_train, x_test, y_train, y_test = train_test_split(Xnull, ynull, stratify=ynull)

# Instanciando o modelo
modelo = KNeighborsClassifier()

# Fit no modelo
modelo.fit(x_train, y_train)

# Predição
y_prediction = modelo.predict(x_test)

# Medindo a acurácia
accuracy_score(y_test, y_prediction)

0.717391304347826

In [12]:
# Importar o modelo
from sklearn.gaussian_process import GaussianProcessClassifier

# Train Test Split
# x_train, x_test, y_train, y_test = train_test_split(Xnull, ynull, stratify=ynull)

# Instanciando o modelo
modelo = GaussianProcessClassifier()

# Fit no modelo
modelo.fit(x_train, y_train)

# Predição
y_prediction = modelo.predict(x_test)

# Medindo a acurácia
accuracy_score(y_test, y_prediction)

0.6739130434782609

In [13]:
# Importar o modelo
from sklearn.tree import DecisionTreeClassifier

# Train Test Split
# x_train, x_test, y_train, y_test = train_test_split(Xnull, ynull, stratify=ynull)

# Instanciando o modelo
modelo = DecisionTreeClassifier()

# Fit no modelo
modelo.fit(x_train, y_train)

# Predição
y_prediction = modelo.predict(x_test)

# Medindo a acurácia
accuracy_score(y_test, y_prediction)

0.6956521739130435

In [14]:
# Importar o modelo
from sklearn.ensemble import AdaBoostClassifier

# Train Test Split
# x_train, x_test, y_train, y_test = train_test_split(Xnull, ynull, stratify=ynull)

# Instanciando o modelo
modelo = AdaBoostClassifier()

# Fit no modelo
modelo.fit(x_train, y_train)

# Predição
y_prediction = modelo.predict(x_test)

# Medindo a acurácia
accuracy_score(y_test, y_prediction)

0.7608695652173914

In [17]:
from sklearn.model_selection import StratifiedKFold

In [18]:
def roda_modelo(lista_modelo,dados,n,cv):

  print(lista_modelo)

  accuracy = []

  for modelo in lista_modelo:
    np.random.seed(0)
    accuracy.clear()

    print()
    Xnull = data_null[['Pclass','Sex','Age','SibSp','Parch','Fare']]
    ynull = data_null['Survived']

    for _ in range(n):

      x_train, x_test, y_train, y_test = train_test_split(Xnull, ynull, stratify=ynull)
    
      modelo.fit(x_train, y_train)

      y_pred = modelo.predict(x_test)

      accuracy.append(accuracy_score(y_test, y_pred))
    print(modelo,np.mean(accuracy))

In [19]:
lista_modelo = [DecisionTreeClassifier(),AdaBoostClassifier()]
cv = StratifiedKFold(n_splits=5, shuffle=True)
roda_modelo(lista_modelo,data_null,10,cv)

[DecisionTreeClassifier(), AdaBoostClassifier()]

DecisionTreeClassifier() 0.7369565217391305

AdaBoostClassifier() 0.7847826086956522

In [20]:
def roda_modelo_2(model, data, n_splits, n_repeats):

  np.random.seed(0)
  
  from sklearn.model_selection import cross_validate
  from sklearn.model_selection import RepeatedStratifiedKFold

  x = data_null[['Pclass','Sex','Age','SibSp','Parch','Fare']]
  y = data_null['Survived']  

  cv = RepeatedStratifiedKFold(n_splits=n_splits, n_repeats=n_repeats)
  results = cross_validate(model, x, y, cv=cv, scoring='roc_auc')

  auc_mean = np.mean(results['test_score'])
  auc_std = np.std(results['test_score'])

  print(f'AUC mean: {round(auc_mean,2)}, interval: {round(auc_mean - (2*auc_mean),2)} - {round(auc_mean + (2*auc_mean),2)}')

In [21]:
model = DecisionTreeClassifier()
roda_modelo_2(model, data_null, 5, 10)

AUC mean: 0.72, interval: -0.72 - 2.15